[DEFAULT]
# OpenAI API KEY
openai_api_key = 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
# Google API KEY
google_api_key = YOUR_API_KEY
# LLM to be used 'gpt-4' or palm-2
model = gpt-4
# model temperature
temp = 0.75
# number of attempts/samples
K_run = 5
# top_p (0,1) default: 1
top_p = 1
# Adjustable number of tokens to control response length
max_tokens = 4000
# Number of completions to generate
n = 1 
# Stop completion tokens
stop = None
# waiting time
cool_down_time = 3

# Filesystems task json path (absolute path)
task_path =/Users/pari/pcc-llms/src/tasks/task-6.json
# Base output path (absolute path)
base_output_path =/Users/pari/pcc-llms/output
# Interface API Path
interface_path = /Users/pari/pcc-llms/dataset/filesystems/interface/effectful-interface.dfy


# Required for dynamic Few-Shot RAG Prompting
[FEWSHOT]
#  example CWEs json path (absolute path)
example_db_json_path = /Users/pari/pcc-llms/dataset/cwe-samples/cwe_db_pre_post.json
# VC methods API path
vc_methods_api_path = /Users/pari/pcc-llms/dataset/cwe-samples/interface_api_mapped.json
# number of spec examples in [Specification Prompt]
vc_shot_count = 3
# number of code examples in [Chain of Thought (CoT) Prompt]
code_shot_count = 5